.wrapper {
  width: 1596px;
  height: 59px;
  background-color: lightcoral;
}
.title{
  width: auto;
  height: 33px;
  color: var(--purple-50, #5700FF);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color:cyan;
  text-align: center;
}